.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Выравнивание всего сообщения справа */
    margin-bottom: 30px;
  }
  
  .imageAndText {
    display: flex;
    flex-direction: row-reverse; /* Картинка справа, текст слева */
    align-items: flex-end;
    gap: 15px;
  }
  
  .imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .text {
    position: relative;
    background-color: #0552eb;
    padding: 8px 13px;
    border-radius: 20px; 
    font-family: 'Montserrat', sans-serif;
    max-width: 500px;
  }

  .text:after {
    content: '';
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #0455f8 transparent;
  }
  
  .name {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin-bottom: 3px;
  }
  
  .messageText {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    white-space: pre-wrap;
    word-break: break-word;
  }
  
  .time {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    margin-top: 5px;
    padding-right: 10px;
    text-align: right;
  }